interval3
capstone
certifi
#evm-cfg-builder
Flask
Flask-SocketIO
ipaddr
idna
websocket-client
six
socketIO-client
requests
Click
python-engineio
python-socketio
# pyelftools (I don't parse via elf files yet, prob not needed)
hexdump #
Werkzeug
